if env
    script(type="text/javascript",src="js/core.js")
else
    script(type="text/javascript",src="js/engine/cookbook.js")
    script(type="text/javascript",src="js/engine/models/recipe.js")
    script(type="text/javascript",src="js/engine/collections/recipes.js")
    script(type="text/javascript",src="js/engine/views/recipeVS.js")
    script(type="text/javascript",src="js/engine/views/recipeES.js")
    script(type="text/javascript",src="js/engine/views/recipeNS.js")
    script(type="text/javascript",src="js/engine/views/recipes.js")
    script(type="text/javascript",src="js/engine/layouts/applayout.js")
    script(type="text/javascript",src="js/engine/routes/router.js")
    script(type="text/javascript",src="js/engine/start.js")