link(rel='stylesheet', href="css/core.css")
link(href='http://fonts.googleapis.com/css?family=Engagement',rel='stylesheet',type='text/css')

if env
    script(type="text/javascript",src="js/lib.js")
else
    script(type="text/javascript",src="js/jquery.js")
    script(type="text/javascript",src="js/underscore.js")
    script(type="text/javascript",src="js/backbone.js")
    script(type="text/javascript",src="js/backbone.marionette.js")
    script(type="text/javascript",src="js/moment.min.js")