doctype 5
html
    head
        meta(charset='UTF-8')
        meta(name="viewport",content="width=640, initial-scale=1")
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        title= title
        include assets
    body
        .cookbook
        include templates
        include appengine
